<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Listeners.Listener"></listener>
</listeners>
<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestScript.QALegendEventTest"/>
       <class name="TestScript.QALegendMessagesTest"/>
      <class name="TestScript.QALegendSignupTest"/>
      <class name="TestScript.QALegendLoginTest"/>
      <class name="TestScript.QALegendHomePageTest"/>
      <class name ="TestScript.QALegendEstimatesTest"/>
      <class name ="TestScript.QALegendTicketsTest"/>
      <class name ="TestScript.QALegendInvoicesTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
